*.orig
*.rej
*~
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
Debug*
Release*
*/Debug/*
*/Release/*
*/Build*
/Build*
/build
ipch/*
*.suo
*.user
*.sdf
proj/version.h/*
*.vs/
*.idc
*.db
*.opendb
